*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.header{
    position: fixed;
    width: 100%;
    background: url('../img/css_cycled.gif') 0 0/auto auto repeat;
    top: 0px;
    margin: 0px 0px 15px 0px;
}
.header__text{
    width: 30%;
    margin: 5px auto 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border: 2px solid #000;
    text-align: center;
}
.container{
    margin: 150px 20px 0;
}
h1{
    font-size: 20px;
    font-weight: 700;
}
h4{
    font-size: 18px;
}
.text{
    margin: 20px 0px 20px;
    font-size: 20px;
}
.list{
    padding: 10px 29px 10px;
    font-size: 18px;
}
.list li{
    padding: 3px 0 0;
}
ul li{
    list-style: circle;
}